<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="login-container">
        <div class="login-box">
            <!-- Logo -->
            <div class="logo">
                <img src="{% static 'images/logo.png' %}" alt="Logo">
            </div>
            <h2>Entrar</h2>
            <!-- Formulário de Login -->
            <form method="post">
                {% csrf_token %}
                <div class="input-field">
                    <label for="email">Usuário</label>
                    <input type="text" id="email" name="email" placeholder="Digite seu email" required>
                </div>
                <div class="input-field">
                    <label for="senha">Senha</label>
                    <input type="password" id="senha" name="senha" placeholder="Digite sua senha" required>
                </div>
                <button type="submit" class="login-button">Entrar</button>
            </form>
            <!-- Outras opções -->
            <div class="options">
                <a href="{% url 'password_reset' %}" class="forgot-password" target="_blank">Esqueci minha senha</a>
                <a href="{% url 'register' %}" class="register-button">Cadastrar Usuário</a>
            </div>
        </div>
    </div>
</body>
</html>
