<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marcar Consulta</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/marcar_consulta.css' %}">
</head>
<body>
    <!-- Barra lateral -->
    <div class="sidebar" id="sidebar">
        <!-- Logo clicável que leva ao Dashboard -->
        <div class="logo">
            <a href="{% url 'dashboard' %}">
                <img src="{% static 'images/logo.png' %}" alt="Logo">
            </a>
        </div>

        <!-- Botões de navegação -->
        <div class="sidebar-links">
            <a href="{% url 'configurar_perfil' %}">Configurar Perfil</a>
            <a href="{% url 'gerenciar_consultas' %}">Gerenciar Consultas</a>
        </div>

        <!-- Botão de Sair (com imagem de logo) -->
        <div class="logout-container">
            <a href="{% url 'logout' %}" class="logout">
                <img src="{% static 'images/sair.png' %}" alt="Sair">
            </a>
        </div>
    </div>

    <script>
        window.addEventListener("resize", function() {
            adjustSidebar();
        });

        function adjustSidebar() {
            var sidebar = document.getElementById('sidebar');
            if (window.innerWidth <= 768) {
                sidebar.classList.add('collapsed'); // Recolhe a barra lateral em telas pequenas
            } else {
                sidebar.classList.remove('collapsed'); // Expande a barra lateral em telas grandes
            }
        }

        // Inicializa a barra lateral ao carregar a página
        adjustSidebar();
    </script>

    <!-- Conteúdo principal -->
    <div class="main-content">
        <h1>Vamos marcar uma Consulta?</h1>
        <h2>Escolha um Psicólogo!</h2>
        {% for psicologo in psicologos %}
        <div class="card">
            <!--<img src="{{ psicologo.imagem.url|default:'/static/default-avatar.png' }}" alt="Foto de {{ psicologo.nome }}">--> 
            <div class="card-body">
                <h2 class="card-title">{{ psicologo.nome }}</h2>
                <p class="card-subtitle">{{ psicologo.abordagem }}</p>
                <p class="card-subtitle">Registro: {{ psicologo.registro_profissional }}</p>
                <a href="{% url 'calendario_psicologo' psicologo.id %}" class="card-button">Visualizar Horários</a>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>
