<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciar Consultas</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/marcar_consulta.css' %}"> <!-- Link para o CSS específico de Gerenciar Consultas -->
</head>
<body>
    <!-- Barra lateral -->
    <div class="sidebar" id="sidebar">
        <!-- Logo clicável que leva ao Dashboard -->
        <div class="logo">
            <a href="{% url 'dashboard' %}">
                <img src="{% static 'images/logo.png' %}" alt="Logo" />
            </a>
        </div>

        <!-- Botões de navegação -->
        <div class="sidebar-links">
            <a href="{% url 'configurar_perfil' %}">Configurar Perfil</a>
            <a href="{% url 'gerenciar_consultas' %}">Gerenciar Consultas</a>
        </div>

        <!-- Botão de Sair (com imagem de logo) -->
        <div class="logout-container">
            <a href="{% url 'logout' %}" class="logout">
                <img src="{% static 'images/sair.png' %}" alt="Sair">
            </a>
        </div>
    </div>

    <!-- Conteúdo principal -->
    <div class="main-content">
        <h2>Vamos marcar uma Consulta!</h2>
    </div>
</body>
</html>
