<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marcar Consulta</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/marcar_consulta.css' %}">
</head>
<body>
    <!-- Barra lateral -->
    <div class="sidebar" id="sidebar">
        <!-- Logo clicável que leva ao Dashboard -->
        <div class="logo">
            <a href="{% url 'dashboard' %}">
                <img src="{% static 'images/logo.png' %}" alt="Logo">
            </a>
        </div>

        <!-- Botões de navegação -->
        <div class="sidebar-links">
            <a href="{% url 'configurar_perfil' %}">Configurar Perfil</a>
            <a href="{% url 'gerenciar_consultas' %}">Gerenciar Consultas</a>
        </div>

        <!-- Botão de Sair -->
        <div class="logout-container">
            <a href="{% url 'logout' %}" class="logout">
                <img src="{% static 'images/sair.png' %}" alt="Sair">
            </a>
        </div>
    </div>

    <div class="main-container">
        <!-- Conteúdo principal -->
        <div class="main-content">
            <h1>Vamos marcar uma Consulta?</h1>
            <h2>Escolha um Psicólogo!</h2>
            
            <table class="psychologists-table">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Abordagem</th>
                        <th>Registro Profissional</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>
                    {% if psicologos %}
                        {% for psicologo in psicologos %}
                        <tr>
                            <td>{{ psicologo.nome }}</td>
                            <td>{{ psicologo.abordagem }}</td>
                            <td>{{ psicologo.registro_profissional }}</td>
                            <td><a href="{% url 'calendario_psicologo' psicologo.id %}" class="btn">Visualizar Horários</a></td>
                        </tr>
                        {% endfor %}
                    {% else %}
                        <p>Nenhum psicólogo disponível no momento.</p>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
