<!-- templates/usuarios/password_reset.html -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Recuperar Senha</title>
    <link rel="stylesheet" href="static/css/login.css">
</head>
<body>
    <div class="login-container">
        <div class="login-box">
            <div class="logo">
                <img src="static/images/logo.png" alt="Logo">
            </div>
            <h2>Recuperar Senha</h2>
            <form method="post">
                <button type="submit" class="login-button">Enviar E-mail</button>
            </form>
            <a href="/usuarios/login.html" class="forgot-password">Voltar ao Login</a>
        </div>
    </div>
</body>
</html>
