<!-- templates/usuarios/register.html -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar Usuário</title>
    {% load static %}
    <link rel="stylesheet" href="css/login.css"> 
</head>
<body>
    <div class="login-container">
        <div class="login-box">
            <div class="logo">
                <img src="images/logo.png" alt="Logo">
            </div>
            <h2>Cadastrar Usuário</h2>
            <form method="post">
                <button type="submit" class="register-button">Cadastrar</button>
            </form>
            <a href="/usuarios/login.html" class="forgot-password">Já possui uma conta? Entrar</a>
        </div>
    </div>
</body>
</html>
